@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes heartfill {
  0% {
    filter: drop-shadow(0 0 1px black);
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    font-size: 1.8rem;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  17% {
    transform: rotate(68deg);
  }
  50% {
    transform: rotate(200deg);
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadpop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  20% {
    transform: translate(-3px);
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    color: #99E2D0;
    transform: translate(6px);
    display: none;
  }
}
@keyframes pagepop {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
  }
}
@keyframes menupop {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 767px;
}

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

ol {
  list-style-type: none;
}

.loader {
  font-family: "Shrikhand", cursive;
  font-size: 3.5rem;
  z-index: 9999;
  height: 100%;
  width: 100%;
  animation: loadpop 10s both;
}
.loader__1 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  margin: auto;
  width: 100%;
  z-index: 1;
  color: #9356DC;
}
.loader__2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  margin: auto;
  width: 100%;
  color: #FF79DA;
}

.loader__elements {
  animation: loader 2s reverse 3;
}

.spinner::before {
  content: "";
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 10px solid #9356DC;
  border-top-color: #FF79DA;
  border-right-color: #99E2D0;
  border-bottom-color: #99E2D0;
  animation: spinner 1s linear infinite;
}

.loader__elements:nth-child(1) {
  animation-delay: 0.1s;
}

.loader__elements:nth-child(2) {
  animation-delay: 0.3s;
}

.loader__elements:nth-child(3) {
  animation-delay: 0.5s;
}

.loader__elements:nth-child(4) {
  animation-delay: 0.6s;
}

.loader__elements:nth-child(5) {
  animation-delay: 0.7s;
}

.loader__elements:nth-child(6) {
  animation-delay: 0.8s;
}

.loader__elements:nth-child(7) {
  animation-delay: 0.9s;
}

.loader__elements:nth-child(8) {
  animation-delay: 1s;
}

.loader__elements:nth-child(9) {
  animation-delay: 1.2s;
}

.main--header, .main, .instructions, .restaurants, .footer {
  animation: pagepop 1s 10s both;
}

.menus__sections {
  animation: menupop 1.5s forwards;
}

.section--1 {
  animation-delay: 0s;
}

.section--2 {
  animation-delay: 0.2s;
}

.section--3 {
  animation-delay: 0.3s;
}

.header {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 10px 0 40px 20px;
  background-color: #353535;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  color: white;
}
.footer a {
  color: white;
  display: block;
  line-height: 1.5rem;
}
.footer i {
  margin-right: 10px;
}

.btn {
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  color: white;
  box-shadow: 0 3px 6px #E0DEDE;
  padding: 18px 20px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  box-shadow: 6px 3px 6px #E0DEDE;
  transform: scale(1.01);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.fa-heart {
  font-size: 1.7rem;
  cursor: pointer;
  background: transparent;
}

.empty-heart:hover, .empty-heart:active {
  font-weight: bold;
  color: transparent;
  background: linear-gradient(200deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  animation: heartfill 1.5s ease-in;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  padding: 1rem 0 1rem 0;
  box-shadow: inset 0 2px 2px 0px rgba(58, 42, 42, 0.2);
}
.location__icon {
  margin-bottom: 5px;
  margin-left: 25px;
  font-size: 16px;
}
.location__text {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  margin-left: 20px;
}
.location__text::placeholder {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.presentation {
  background-color: #F6F6F6;
  padding: 20px 5px 60px 5px;
  text-align: center;
}
.presentation__title {
  padding-left: 50px;
  padding-right: 50px;
}
.presentation__subtitle {
  padding-bottom: 1rem;
}

.instructions {
  padding-top: 25px;
  margin-left: 20px;
  padding-bottom: 20px;
}
.instructions__title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.instructions__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 1rem;
}

.instructions__cards__wrap {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0 8px 17px #E0DEDE;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 25px;
  counter-increment: list;
}
.instructions__cards__wrap::before {
  content: counter(list);
  font-weight: normal;
  color: white;
  background-color: #9356DC;
  border: solid 4px #9356DC;
  border-radius: 50%;
  padding: 0 5px 0 5px;
  margin-left: -26px;
}
.instructions__cards__wrap__icons {
  color: grey;
  margin-right: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.instructions__cards__wrap:hover {
  background-color: #F6EFFF;
}

.instructions__cards__wrap:hover i {
  color: #9356DC;
}

.restaurants {
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F6F6F6;
}
.restaurants__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.restaurants__card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  box-shadow: 0 8px 17px #E0DEDE;
  border-radius: 20px;
}
.restaurants__card__wrap {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: auto;
}
.restaurants__card--img {
  object-fit: cover;
  object-position: bottom;
  position: relative;
  margin: 0;
  border-radius: 20px 20px 0 0;
  width: auto;
  max-height: 180px;
}
.restaurants__card--txt {
  line-height: 8px;
  margin-left: 15px;
  margin-top: 20px;
  padding-bottom: 8px;
  position: relative;
}
.restaurants__card__like {
  position: absolute;
  top: 0px;
  right: 25px;
}
.restaurants__card__new {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 220px;
  right: 15px;
  border-radius: 3px;
  background: #99E2D0;
  font-weight: 500;
  color: #278870;
  font-size: 14px;
  width: 75px;
  height: 25px;
}

.header--restaurants {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: auto;
  width: auto;
}

.arrow__icon {
  position: absolute;
  color: #353535;
  left: 1rem;
  top: 2rem;
  font-size: 1.2rem;
}

.menus__bgimg {
  display: grid;
  height: 250px;
}

.bgpalette {
  background-image: url(../img/restau1.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 260px;
}

.menus {
  position: relative;
  margin-top: -2rem;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
}
.menus__head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 1rem 0 0;
  font-size: 1.1rem;
  margin: auto;
}
.menus__heart {
  margin-bottom: 5px;
  padding-left: 1rem;
}
.menus__subtitle {
  font-weight: normal;
  margin: 3rem 0 0.4rem 1rem;
}

.menus__subtitle:first-child {
  margin-top: 1.8rem;
}

.underline {
  border: none;
  background-color: #99E2D0;
  height: 3px;
  width: 12%;
  margin: 0 0 0 1.1rem;
}

.menus__cards {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 90%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 8px 17px #E0DEDE;
}
.menus__cards__text {
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  transition: all 0.6s ease-in-out;
}
.menus__cards__price {
  padding-bottom: 0.9rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  width: 10%;
  display: flex;
  font-weight: bold;
  align-self: flex-end;
}
.menus__cards__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 20%;
  height: 100%;
  position: absolute;
  right: -20%;
  transition: all 0.6s ease-in-out;
}

.menu__cards__text--gras {
  font-size: 1.1rem;
  margin-bottom: 5px;
  margin-top: 0.9rem;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__cards__text--light {
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkcircle {
  color: white;
  font-size: 1.6rem;
  transition: all 0.6s ease-in-out;
}

.menus__cards:hover {
  cursor: pointer;
}

.menus__cards:hover .menus__cards__circle {
  right: 0%;
}

.menus__cards:hover .checkcircle {
  transform: rotate(360deg);
}

.menus__cards:hover .menus__cards__text {
  width: 70%;
}

.order {
  display: flex;
  justify-content: center;
  padding: 4em;
}
.order__button {
  width: 85%;
}

/*# sourceMappingURL=style.css.map */
