// Footer

.footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0 40px 20px;
    background-color: $bg-color-footer;

    //responsive 
    @include medium {
        flex-direction: row;
        padding: 0.6rem 1rem 0.6rem 1rem;
        justify-content: space-evenly;
        align-items: center;
    }

    & h3 {
        font-family: $shrikhand-font;
        font-weight: normal;
        color: $btn-txt-color;

        //responsive 
    @include medium {
        font-size: 1.4rem;
    }
    }

    & a {
        color: $btn-txt-color;
        display: block;
        line-height: 1.5rem;
    }

    & i { 
        margin-right: 10px;
    }
}