// Footer

.footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0 40px 20px;
    background-color: $bg-color-footer;

    //responsive 
    @include large {
        display: grid;
        grid-template-columns: repeat(5, auto);
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    & h3 {
        font-family: $shrikhand-font;
        font-weight: normal;
        color: $btn-txt-color;

        //responsive 
        @include medium {
            font-size: 1.4rem;
    }
        @include large {
            font-size: 2.6rem;
    }
}

    & a {
        color: $btn-txt-color;
        display: block;
        line-height: 1.5rem;
        //responsive 
        @include large {
            font-size: 1.2rem;
        }

    }

    & i { 
        margin-right: 10px;
    }
}