//
// Propriétés du Header 
//

.header {
    background-color: $bg-color;    
    padding-top: 25px;
    padding-bottom: 15px;
    //responsive 
    @include large {
        padding-bottom: 25px;
        height: auto;

    }
}