// Style des boutons

.btn {
    background: linear-gradient(350deg, $color-primary, $color-secondary);
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    color: $btn-txt-color;
    box-shadow:  0 3px 6px $box-shadow-color;
    padding: 18px 20px;
}