// Style pour les coeurs 
.fa-heart {
    font-size: 1.7rem;
    display: block;

    &:hover {
    background: border-box linear-gradient(350deg, $color-primary, $color-secondary);
    cursor: pointer;
    }
}
