// Style pour les coeurs 
.fa-heart {
    font-size: 1.7rem;   
    cursor: pointer;
    background: transparent;
    
}


.full-heart {
    display: none;
}

.empty-heart:hover ~ .full-heart{
    display: none;
    color: transparent;
    background: linear-gradient(200deg, $color-primary, $color-secondary);
    -webkit-background-clip: text; // Définit le texte / icone en tant que background

} 

.empty-heart:hover {
    font-weight: bold;
    color: transparent;
    background: linear-gradient(200deg, $color-primary, $color-secondary);
    -webkit-background-clip: text; // Définit le texte / icone en tant que background
    animation: heartfill 1.5s ease-in; 
    
}
