// Style pour les coeurs 
.fa-heart {
    font-size: 1.7rem;   
    cursor: pointer;
    background: transparent;
    
}
 
.empty-heart:hover, .empty-heart:active {
    font-weight: bold;
    color: transparent;
    background: linear-gradient(200deg, $color-primary, $color-secondary);
    -webkit-background-clip: text; // Définit le texte / icone en tant que background
    animation: heartfill 1.5s ease-in; 
    
}
