// 
// Propriétés de style de base
//
html {
    -webkit-tap-highlight-color:transparent; //empeche la surbrillance au clic
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $roboto-font;
    width: $global-width;
    margin:auto;
    padding: 0;
    width: auto;
    // responsive 
}


a {
    text-decoration: none;
    color: black;

}

h1 {
    font-family: $shrikhand-font;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

ol {
    list-style-type: none;
}
