// Bloc Restaurants 

.restaurants {
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $bg-color-alt;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }
}   


.restaurants__card {
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    border-radius: $card-radius;

    &__wrap {
        display: flex;
        margin: auto;
        flex-direction: column;
        height: auto;
    }

    &--img {
        object-fit: cover;
        object-position: bottom;
        position: relative;
        margin:0;
        border-radius: $img-border-radius;
        width: auto;
        max-height: 180px;   
         
    }

    &--txt {
        line-height: 8px;
        margin-left: 15px;
        margin-top: 20px;
        padding-bottom: 8px;
        position: relative;
    }

    &__like {
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 1.7rem;
        
    }

    &__new {
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 220px;
        right: 15px;
        border-radius: 3px;
        background: $color-tertiary;
        font-weight: 500;
        color: darken($color-tertiary, 40%);
        font-size: 14px;
        width: 75px;
        height: 25px;
    
    }

 
}
